.App {
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/* navbar */
.navbar {
  text-align: center;
}

.navbar-brand {
  font-size: 2rem;
}

.navbar-right {
  display: block;
  margin: 10px 0;
}
@media (min-width: 768px){
  .navbar {
    text-align: left;
  }
  .navbar-right {
    text-align: right;
    float: right;
    display: inline-block;
  }
}

.muidocs-icon-custom-github:before {
    content: "\e625";
}

.work-image {
  text-align: center;
  margin:20px 0;
}
img { max-width: 100%; }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
